/* Base - Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainBgColor {
  background-color: #EFE2BA;
}

/*Abstracts*/
/* Font Families */
/* Font Colour Variations */
/* Box - Background Color */
/* Box - Background */
/* Borders Color Variations */
/*Pages*/
/* Font Families */
/* Font Colour Variations */
/* Box - Background Color */
/* Box - Background */
/* Borders Color Variations */
.introTitle {
  font-family: #9A1750;
  font-weight: bolder;
  color: #EE4C7C;
  margin-bottom: 0.5rem;
}

.introParagraph {
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  color: #1f2833;
  font-size: 20px;
  margin-bottom: 0.5rem;
  display: inline;
  background-color: #EE4C7C;
}

.jumbotronImg {
  background-size: cover;
  height: 100%;
}

.catalogueContainer {
  margin-bottom: 150px;
}

.sectionName {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: #EE4C7C;
  display: flex;
  justify-content: flex-start;
}

.newSection {
  margin-bottom: 20px;
}

.arrowContainer {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

.arrowStyle {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 25px;
  margin-bottom: 25px;
}

/*Layout*/
/* Font Families */
/* Font Colour Variations */
/* Box - Background Color */
/* Box - Background */
/* Borders Color Variations */
/* Header - Navbar Responsive Logo */
.webLogo {
  width: auto;
  height: 90px;
}

.searchBarButton {
  background: #9A1750;
  border-color: #1f2833;
  color: #272727;
}
.searchBarButton:hover {
  background: #EE4C7C;
  border-color: #9A1750;
}

.cart {
  border-color: #1f2833;
  color: #9A1750;
}
.cart:hover {
  color: #EE4C7C;
}

/* Font Families */
/* Font Colour Variations */
/* Box - Background Color */
/* Box - Background */
/* Borders Color Variations */
/* Links Style */
a {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  line-height: normal;
  color: #EE4C7C;
  text-decoration: solid;
  font-style: normal;
}
a:hover {
  cursor: pointer;
  color: #9A1750;
}
a:active {
  color: #5D001E;
  font-weight: bold;
}

/* Font Families */
/* Font Colour Variations */
/* Box - Background Color */
/* Box - Background */
/* Borders Color Variations */
.footerPosition {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1f2833;
  z-index: 2;
}

.footerStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Social Links */
.socialLinks {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.twitter {
  margin-right: 20px;
  margin-left: 20px;
  padding: 0 5px;
}

/*Components*/
/* Font Families */
/* Font Colour Variations */
/* Box - Background Color */
/* Box - Background */
/* Borders Color Variations */
.container__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 2rem;
}

.catalogueCard {
  background-color: #EE4C7C;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 10rem;
  max-height: 15rem;
  padding: 10px;
}

.catalogueCardTitle {
  text-align: center;
  font-size: 24px;
  margin: 10px;
  font-family: "Raleway", sans-serif;
  color: #1f2833;
}

.catalogueCardBtn {
  background: #272727;
  border-color: #1f2833;
  color: #EE4C7C;
  padding: 15px;
}
.catalogueCardBtn:hover {
  background: #5D001E;
  border-color: #5D001E;
}

.catalogueCardSubp {
  font-family: #1f2833;
  font-size: 14px;
  text-align: center;
  padding: 0 8px;
}

.catalogueCardSubh6 {
  font-family: #5D001E;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.errorContainerMessage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
  color: "Raleway", sans-serif;
  color: "Raleway", sans-serif;
  grid-column: 1/6;
}

/* Font Families */
/* Font Colour Variations */
/* Box - Background Color */
/* Box - Background */
/* Borders Color Variations */
.carousel-item {
  z-index: 0;
}

.carousel-indicators {
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
