@import '../abstracts/variables';

.container__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 2rem;
}

.catalogueCard {
    background-color: $fontColorSubtle;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        min-height: 10rem;
        max-height: 15rem;
}

.catalogueCardTitle {
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding-top: 10px;
    font-family: $fontTitles;
    color: $fontColorGrey;
}

.catalogueCardSubp {
    font-family: $fontOthers;
    text-align: center;
    padding: 0 8px;
}

.catalogueCardSubh6 {
    font-family: $fontOthers;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.errorContanerMessage {
    text-align: center;
	font-size: 2rem;
	color: $fontTitles;
	grid-column: 1/10;
}

.btn-outline-success {
    color: $fontColorSubtle;
    border-color: $fontColorGrey;
}