@import '../abstracts/variables';

.catalogueCard {
    background-color: $fontColorHighlight;
}


.catalogueCardTitle {
    font-family: $fontTitles;
    color: $fontColorGrey;
}

.catalogueCardSub {
    font-family: $fontOthers;
}

.catalogueCardButton {
    background-color: $fontColorSubtle;
    font-family: $fontOthers;
    color: $fontColorGrey;
}

.btn {
    border-color: $fontColorDark;
}