@import '../abstracts/variables';

.modal-content {
    background-color: #EFE2BA;
}

.modal-header {
    border-bottom: 1px solid $fontColorSubtle;
}

.modal-title {
    font-family: $fontTitles;
    color: $fontColorHighlight;
    font-weight: bolder;
}

.modal-body {
    background-color: #EFE2BA;
}

.cartModalDetails {
    display: none;
}

.modal-footer {
    border-top: 1px solid $fontColorSubtle;
}

.cartEmptyMessage {
    font-family: $fontOthers;
    color: $fontColorHighlight;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-column: 1/6;
}